.PaginationContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.PaginationContainer .pagination {
    margin: auto;
}

.PaginationContainer .page-item {
    display: flex;
}

.PaginationContainer .page-item .page-link {
    display: flex;
    margin: auto;
}

.PaginationContainer .page-link {
    color: #FF6E40
}

.PaginationContainer .page-item.active .page-link {
    background-color: #FF6E40;
    border-color: #FF6E40;
}

.PaginationContainer .page-link:hover {
    color: #ff9800;
    background-color: #fff3f0;
}