.btn {
    border-radius: 6px;
    font-size: 0.875rem;
    background-color: #FF6E40;
    color: #ffffff;
    min-width: 190px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    height: 36px;
    min-height: 36px;
    font-family: 'museo_sans300', sans-serif;
    font-weight: 300;
}

.btn-small {
    font-size: 0.8375rem;
    line-height: 31px;
    min-width: 90px;
    height: 31px;
}

.ButtonLight {
    background-color: #FFB116;
    color: #ffffff;
}

.ButtonWhite {
    background-color: #fff;
    color: #F88808;
    border: 1px solid #F88808 !important;
}

.ButtonWhite.disabled,
.ButtonWhite:disabled {
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
}

.btn:active,
.btn:hover,
.btn:visited,
.btn:focus {
    outline: 0;
    box-shadow: none;
}