.NotFound {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    text-align: center;
    margin: auto;
    max-width: 767px;
    line-height: 1.4;
    padding: 110px 40px;
    background: #fff;
    -webkit-box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.NotFound h1 {
    font-family: 'museo_sans900';
    font-weight: 900;
    font-size: 8rem;
    margin: 0px;
    color: #262626;
    text-transform: uppercase;
}

.NotFound h1>span {
    color: #FF6E40;
}

.NotFound h2 {
    font-size: 1.375rem;
    text-transform: uppercase;
    color: #151515;
    margin-top: 0px;
    margin-bottom: 25px;
}

.NotFound .btn-small {
    max-width: 250px;
    margin: auto;
}